@model Vserv.Accounting.Web.Models.UserProfileModel

@{
    ViewBag.Title = "Change password";
}

<ul class="nav nav-tabs">
    <li class="active"><a href="#change-password" data-toggle="tab">@ViewBag.Title</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade active in padding-top10" id="change-password">
        @using (Html.BeginForm("ChangePassword", "Account"))
        {
            @Html.ValidationSummary(true, "Password changing was unsuccessful. Please, correct errors and try again.")
            @Html.ValidationMessage("_FORM")
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "control-label required-field" })
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label required-field" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-success">Save</button>
                        <button type="reset" class="btn btn-default">Reset</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>