@model Vserv.Accounting.Web.Models.ForgotPasswordModel

@{
    ViewBag.Title = "Recover your account";
}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="text-center">
                    <h4>@ViewBag.Title</h4>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group text-danger">
                        @Html.ValidationSummary(true, "No account found satisfying provided details.")
                    </div>
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                                @if (Model != null && !String.IsNullOrWhiteSpace(Model.SecurityQuestion))
                                {
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @maxlength = "100", @readonly = "readonly" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @maxlength = "100" })
                                }
                                @Html.ValidationMessageFor(m => m.UserName)
                            </div>
                            @if (Model != null && !String.IsNullOrWhiteSpace(Model.SecurityQuestion))
                            {
                                <div class="form-group">
                                    @Html.LabelFor(m => m.EmailAddress, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", @maxlength = "100" })
                                    @Html.ValidationMessageFor(m => m.EmailAddress)
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.MobileNumber, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control", @maxlength = "10" })
                                    @Html.ValidationMessageFor(m => m.MobileNumber)
                                </div>
                                <div class="form-group">
                                    <label class="control-label">@Model.SecurityQuestion</label>
                                    @Html.TextBoxFor(m => m.SecurityQuestionAnswer, new { @class = "form-control", @maxlength = "100" })
                                </div>

                                @Html.TextBoxFor(m => m.SecurityQuestion, new { @style = "display: none" })
                                @Html.TextBoxFor(m => m.SecurityQuestionId, new { @style = "display: none" })
                            }
                            <div class="form-group pull-right">
                                <a href="@Url.Action("index","home")" class="btn btn-primary">Sign in</a>
                                <button type="reset" class="btn btn-default">Reset</button>
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </fieldset>
                    </form>
                }
            </div>
        </div>
    </div>
</div>
