@model Vserv.Accounting.Data.Entity.CompareEmployeeModel
@{
    ViewBag.Title = "Compare Employee Detail";
}
<div class="panel panel-default">
    <div class="panel-heading">
        @*@Model.ModifiedColumnCount columns were*@  Columns with background in red were updated by <strong> @Model.PreviousEmployeeInfo.UpdatedBy</strong> on <strong>@Model.PreviousEmployeeInfo.UpdatedDate</strong>. <span class="pull-right">@Html.ActionLink("Back", "edit", "employee", new { employeeId = Model.CurrentEmployeeInfo.EmployeeId }, new { @class = "btn btn-xs btn-primary" })</span>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Field Name</th>
                    <th>Updated Detail</th>
                    <th>Current Detail</th>
                </tr>
            </thead>
            <tbody>
                <tr class="@(Model.CurrentEmployeeInfo.FirstName == Model.PreviousEmployeeInfo.FirstName ? "" : "danger")">
                    <td>First Name</td>
                    <td>@Model.PreviousEmployeeInfo.FirstName</td>
                    <td>@Model.CurrentEmployeeInfo.FirstName</td>
                </tr>
                <tr class="@(Model.CurrentEmployeeInfo.MiddleName == Model.PreviousEmployeeInfo.MiddleName ? "" : "danger")">
                    <td>Middle Name</td>
                    <td>@Model.PreviousEmployeeInfo.MiddleName</td>
                    <td>@Model.CurrentEmployeeInfo.MiddleName</td>
                </tr>
                <tr class="@(Model.CurrentEmployeeInfo.LastName == Model.PreviousEmployeeInfo.LastName ? "" : "danger")">
                    <td>Last Name</td>
                    <td>@Model.PreviousEmployeeInfo.LastName</td>
                    <td>@Model.CurrentEmployeeInfo.LastName</td>
                </tr>
                <tr class="@(Model.CurrentEmployeeInfo.FatherName == Model.PreviousEmployeeInfo.FatherName ? "" : "danger")">
                    <td>Father's Name</td>
                    <td>@Model.PreviousEmployeeInfo.FatherName</td>
                    <td>@Model.CurrentEmployeeInfo.FatherName</td>
                </tr>
                <tr class="@(Model.CurrentEmployeeInfo.MotherName == Model.PreviousEmployeeInfo.MotherName ? "" : "danger")">
                    <td>Mother's Name</td>
                    <td>@Model.PreviousEmployeeInfo.MotherName</td>
                    <td>@Model.CurrentEmployeeInfo.MotherName</td>
                </tr>
                <tr class="@(Model.CurrentEmployeeInfo.PermanentAccountNumber == Model.PreviousEmployeeInfo.PermanentAccountNumber ? "" : "danger")">
                    <td>PAN Number</td>
                    <td>@Model.PreviousEmployeeInfo.PermanentAccountNumber</td>
                    <td>@Model.CurrentEmployeeInfo.PermanentAccountNumber</td>
                </tr>
                <tr class="@(Model.CurrentEmployeeInfo.UniversalAccountNumber == Model.PreviousEmployeeInfo.UniversalAccountNumber ? "" : "danger")">
                    <td>UAN Number</td>
                    <td>@Model.PreviousEmployeeInfo.UniversalAccountNumber</td>
                    <td>@Model.CurrentEmployeeInfo.UniversalAccountNumber</td>
                </tr>
                <tr class="@(Model.CurrentEmployeeInfo.EPFNumber == Model.PreviousEmployeeInfo.EPFNumber ? "" : "danger")">
                    <td>EPF Number</td>
                    <td>@Model.PreviousEmployeeInfo.EPFNumber</td>
                    <td>@Model.CurrentEmployeeInfo.EPFNumber</td>
                </tr>
                <tr class="@(Model.CurrentEmployeeInfo.AADHAARNumber == Model.PreviousEmployeeInfo.AADHAARNumber ? "" : "danger")">
                    <td>AADHAAR Number</td>
                    <td>@Model.PreviousEmployeeInfo.AADHAARNumber</td>
                    <td>@Model.CurrentEmployeeInfo.AADHAARNumber</td>
                </tr>
                <tr class="@(Model.CurrentEmployeeInfo.ESINumber == Model.PreviousEmployeeInfo.ESINumber ? "" : "danger")">
                    <td>ESI Number</td>
                    <td>@Model.PreviousEmployeeInfo.ESINumber</td>
                    <td>@Model.CurrentEmployeeInfo.ESINumber</td>
                </tr>
                <tr class="@(Model.CurrentEmployeeInfo.MobileNumber == Model.PreviousEmployeeInfo.MobileNumber ? "" : "danger")">
                    <td>Mobile Number</td>
                    <td>@Model.PreviousEmployeeInfo.MobileNumber</td>
                    <td>@Model.CurrentEmployeeInfo.MobileNumber</td>
                </tr>
                <tr class="@(Model.CurrentEmployeeInfo.OfficialEmailAddress == Model.PreviousEmployeeInfo.OfficialEmailAddress ? "" : "danger")">
                    <td>Official Email Address</td>
                    <td>@Model.PreviousEmployeeInfo.OfficialEmailAddress</td>
                    <td>@Model.CurrentEmployeeInfo.OfficialEmailAddress</td>
                </tr>
                <tr class="@(Model.CurrentEmployeeInfo.PersonalEmailAddress == Model.PreviousEmployeeInfo.PersonalEmailAddress ? "" : "danger")">
                    <td>Personal Email Address</td>
                    <td>@Model.PreviousEmployeeInfo.PersonalEmailAddress</td>
                    <td>@Model.CurrentEmployeeInfo.PersonalEmailAddress</td>
                </tr>
                <tr class="@(Model.CurrentEmployeeInfo.BirthDay == Model.PreviousEmployeeInfo.BirthDay ? "" : "danger")">
                    <td>BirthDay</td>
                    <td>@Model.PreviousEmployeeInfo.BirthDay.ToString("MM/dd/yyyy")</td>
                    <td>@Model.CurrentEmployeeInfo.BirthDay.ToString("MM/dd/yyyy")</td>
                </tr>
                <tr class="@(Model.CurrentEmployeeInfo.JoiningDate == Model.PreviousEmployeeInfo.JoiningDate ? "" : "danger")">
                    <td>Joining Date</td>
                    <td>@Model.PreviousEmployeeInfo.JoiningDate.ToString("MM/dd/yyyy")</td>
                    <td>@Model.CurrentEmployeeInfo.JoiningDate.ToString("MM/dd/yyyy")</td>
                </tr>
                <tr class="@(Model.CurrentEmployeeInfo.RelievingDate == Model.PreviousEmployeeInfo.RelievingDate ? "" : "danger")">
                    <td>Relieving Date</td>
                    <td>
                        @if (Model.PreviousEmployeeInfo.RelievingDate.HasValue)
                        {
                            @Model.PreviousEmployeeInfo.RelievingDate.Value.ToString("MM/dd/yyyy");
                        }
                    </td>
                    <td>
                        @if (Model.CurrentEmployeeInfo.RelievingDate.HasValue)
                        {
                            @Model.CurrentEmployeeInfo.RelievingDate.Value.ToString("MM/dd/yyyy");
                        }

                    </td>
                </tr>
                <tr class="@(Model.CurrentEmployeeInfo.ResignationDate == Model.PreviousEmployeeInfo.ResignationDate ? "" : "danger")">
                    <td>Resignation Date</td>
                    <td>
                        @if (Model.PreviousEmployeeInfo.ResignationDate.HasValue)
                        {
                            @Model.PreviousEmployeeInfo.ResignationDate.Value.ToString("MM/dd/yyyy");
                        }
                    </td>
                    <td>
                        @if (Model.CurrentEmployeeInfo.ResignationDate.HasValue)
                        {
                            @Model.CurrentEmployeeInfo.ResignationDate.Value.ToString("MM/dd/yyyy");
                        }
                    </td>
                </tr>
                <tr class="@(Model.CurrentEmployeeInfo.VBS_Id == Model.PreviousEmployeeInfo.VBS_Id ? "" : "danger")">
                    <td>Employee Id</td>
                    <td>@Model.PreviousEmployeeInfo.VBS_Id</td>
                    <td>@Model.CurrentEmployeeInfo.VBS_Id</td>
                </tr>
                <tr class="@(Model.CurrentEmployeeInfo.DesignationId == Model.PreviousEmployeeInfo.DesignationId ? "" : "danger")">
                    <td>Designation</td>
                    <td>@Model.PreviousEmployeeInfo.Designation.Name</td>
                    <td>@Model.CurrentEmployeeInfo.Designation.Name</td>
                </tr>
                <tr class="@(Model.CurrentEmployeeInfo.SalutationId == Model.PreviousEmployeeInfo.SalutationId ? "" : "danger")">
                    <td>Salutation</td>
                    <td>@Model.PreviousEmployeeInfo.Salutation.Name</td>
                    <td>@Model.CurrentEmployeeInfo.Salutation.Name</td>
                </tr>
                <tr class="@(Model.CurrentEmployeeInfo.GenderId == Model.PreviousEmployeeInfo.GenderId ? "" : "danger")">
                    <td>Gender</td>
                    <td>@Model.PreviousEmployeeInfo.Gender.Name</td>
                    <td>@Model.CurrentEmployeeInfo.Gender.Name</td>
                </tr>
                <tr class="@(Model.CurrentEmployeeInfo.OfficeBranchId == Model.PreviousEmployeeInfo.OfficeBranchId ? "" : "danger")">
                    <td>Office Branch</td>
                    <td>@Model.PreviousEmployeeInfo.OfficeBranch.Name</td>
                    <td>@Model.CurrentEmployeeInfo.OfficeBranch.Name</td>
                </tr>
                <tr class="@(Model.CurrentEmployeeInfo.PermanentAddress1 == Model.PreviousEmployeeInfo.PermanentAddress1 ? "" : "danger")">
                    <td>PermanentAddress1</td>
                    <td>@Model.PreviousEmployeeInfo.PermanentAddress1</td>
                    <td>@Model.CurrentEmployeeInfo.PermanentAddress1</td>
                </tr>
                <tr class="@(Model.CurrentEmployeeInfo.PermanentAddress2 == Model.PreviousEmployeeInfo.PermanentAddress2 ? "" : "danger")">
                    <td>Permanent Address2</td>
                    <td>@Model.PreviousEmployeeInfo.PermanentAddress2</td>
                    <td>@Model.CurrentEmployeeInfo.PermanentAddress2</td>
                </tr>
                <tr class="@(Model.CurrentEmployeeInfo.PermanentCity == Model.PreviousEmployeeInfo.PermanentCity ? "" : "danger")">
                    <td>Permanent City</td>
                    <td>@Model.PreviousEmployeeInfo.PermanentCity</td>
                    <td>@Model.CurrentEmployeeInfo.PermanentCity</td>
                </tr>
                <tr class="@(Model.CurrentEmployeeInfo.PermanentZipCode == Model.PreviousEmployeeInfo.PermanentZipCode ? "" : "danger")">
                    <td>Permanent Zip Code</td>
                    <td>@Model.PreviousEmployeeInfo.PermanentZipCode</td>
                    <td>@Model.CurrentEmployeeInfo.PermanentZipCode</td>
                </tr>
                <tr class="@(Model.CurrentEmployeeInfo.PermanentStateId == Model.PreviousEmployeeInfo.PermanentStateId ? "" : "danger")">
                    <td>Permanent State</td>
                    <td>@Model.PreviousEmployeeInfo.State1.Name</td>
                    <td>@Model.CurrentEmployeeInfo.State1.Name</td>
                </tr>
                <tr class="@(Model.CurrentEmployeeInfo.MailingAddress1 == Model.PreviousEmployeeInfo.MailingAddress1 ? "" : "danger")">
                    <td>Mailing Address1</td>
                    <td>@Model.PreviousEmployeeInfo.MailingAddress1</td>
                    <td>@Model.CurrentEmployeeInfo.MailingAddress1</td>
                </tr>
                <tr class="@(Model.CurrentEmployeeInfo.MailingAddress2 == Model.PreviousEmployeeInfo.MailingAddress2 ? "" : "danger")">
                    <td>Mailing Address2</td>
                    <td>@Model.PreviousEmployeeInfo.MailingAddress2</td>
                    <td>@Model.CurrentEmployeeInfo.MailingAddress2</td>
                </tr>
                <tr class="@(Model.CurrentEmployeeInfo.MailingCity == Model.PreviousEmployeeInfo.MailingCity ? "" : "danger")">
                    <td>Mailing City</td>
                    <td>@Model.PreviousEmployeeInfo.MailingCity</td>
                    <td>@Model.CurrentEmployeeInfo.MailingCity</td>
                </tr>
                <tr class="@(Model.CurrentEmployeeInfo.MailingZipCode == Model.PreviousEmployeeInfo.MailingZipCode ? "" : "danger")">
                    <td>Mailing Zip Code</td>
                    <td>@Model.PreviousEmployeeInfo.MailingZipCode</td>
                    <td>@Model.CurrentEmployeeInfo.MailingZipCode</td>
                </tr>
                <tr class="@(Model.CurrentEmployeeInfo.MailingStateId == Model.PreviousEmployeeInfo.MailingStateId ? "" : "danger")">
                    <td>Mailing State</td>
                    <td>@Model.PreviousEmployeeInfo.State.Name</td>
                    <td>@Model.CurrentEmployeeInfo.State.Name</td>
                </tr>

                <tr class="@(Model.CurrentEmployeeInfo.IsMetro == Model.PreviousEmployeeInfo.IsMetro ? "" : "danger")">
                    <td>IsMetro</td>
                    <td>@Model.PreviousEmployeeInfo.IsMetro</td>
                    <td>@Model.CurrentEmployeeInfo.IsMetro</td>
                </tr>
                <tr class="@(Model.CurrentEmployeeInfo.BankAccountNumber == Model.PreviousEmployeeInfo.BankAccountNumber ? "" : "danger")">
                    <td>Bank Account Number</td>
                    <td>@Model.PreviousEmployeeInfo.BankAccountNumber</td>
                    <td>@Model.CurrentEmployeeInfo.BankAccountNumber</td>
                </tr>
                <tr class="@(Model.CurrentEmployeeInfo.BankId == Model.PreviousEmployeeInfo.BankId ? "" : "danger")">
                    <td>Bank</td>
                    <td>@Model.PreviousEmployeeInfo.Bank.Name</td>
                    <td>@Model.CurrentEmployeeInfo.Bank.Name</td>
                </tr>
                <tr class="@(Model.CurrentEmployeeInfo.BankIFSCCode == Model.PreviousEmployeeInfo.BankIFSCCode ? "" : "danger")">
                    <td>IFSC Code</td>
                    <td>@Model.PreviousEmployeeInfo.BankIFSCCode</td>
                    <td>@Model.CurrentEmployeeInfo.BankIFSCCode</td>
                </tr>
                <tr class="@(Model.CurrentEmployeeInfo.BankMICRCode == Model.PreviousEmployeeInfo.BankMICRCode ? "" : "danger")">
                    <td>MICR Code</td>
                    <td>@Model.PreviousEmployeeInfo.BankMICRCode</td>
                    <td>@Model.CurrentEmployeeInfo.BankMICRCode</td>
                </tr>
                <tr class="@(Model.CurrentEmployeeInfo.IsActive == Model.PreviousEmployeeInfo.IsActive ? "" : "danger")">
                    <td>Active Employee</td>
                    <td>@(Model.PreviousEmployeeInfo.IsActive ? "Yes" : "No")</td>
                    <td>@(Model.CurrentEmployeeInfo.IsActive ? "Yes" : "No")</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
