@model Vserv.Accounting.Web.Models.EmployeeModel
@{
    ViewBag.Title = "Edit Employee";
}

<ul class="nav nav-tabs">
    <li class="active"><a href="#edit-employee" data-toggle="tab">@ViewBag.Title</a></li>
    <li class=""><a href="#employee-history" data-toggle="tab" aria-expanded="false">View History</a></li>
</ul>
<div class="tab-content">

    <div class="tab-pane fade active in padding-top10" id="edit-employee">
        @using (Html.BeginForm("edit", "employee"))
        {
            @Html.HiddenFor(emp => emp.EmployeeId)
            @Html.Partial("_EmployeePartial")
        }
    </div>
    <div class="tab-pane fade padding-top10" id="employee-history">
        @Html.Action("employeehistory", "employee")
    </div>
</div>

@Html.Action("DesignationWindow", "Designation")