@model Vserv.Accounting.Web.Models.EmployeeModel
@{
    ViewBag.Title = "Edit Employee";
}
<div class="row" ng-controller="EmployeeController as vm" ng-init="initialize(@Model.EmployeeId)">
    <div class="col-md-12">
        <ul class="nav nav-tabs" id="tabs-manage-employee">
            <li class="active"><a href="#edit-employee" data-toggle="tab">@ViewBag.Title</a></li>
            <li class=""><a href="#emp-salary-summary" data-toggle="tab" aria-expanded="false">Salary Summary</a></li>
            <li class=""><a href="#emp-salary-breakup" data-toggle="tab" aria-expanded="false">Salary Breakup</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in padding-top10" id="edit-employee">
                @using (Html.BeginForm("edit", "employee"))
                {
                    @Html.HiddenFor(emp => emp.EmployeeId)
                    @Html.Partial("_EmployeePartial")
                }
            </div>
            <div class="tab-pane fade padding-top10" id="emp-salary-summary">
                @Html.Partial("_SalarySummary")
            </div>
            <div class="tab-pane fade padding-top10" id="emp-salary-breakup">
                @Html.Partial("_SalaryBreakup")
            </div>
        </div>
    </div>
    <!-- /.col-md-12 -->
</div>
@Html.Action("DesignationWindow", "Designation")
@*<script src="~/Scripts/base/morris.js"></script>*@

<script type="text/javascript">
    //$(function () {

    //    Morris.Bar({
    //        element: 'morris-bar-chart',
    //        data: [
    //             {
    //                 y: '2006',
    //                 a: 130000
    //             }, {
    //                 y: '2007',
    //                 a: 160000
    //             }, {
    //                 y: '2008',
    //                 a: 190000
    //             }, {
    //                 y: '2009',
    //                 a: 250000
    //             }, {
    //                 y: '2010',
    //                 a: 280000
    //             }, {
    //                 y: '2011',
    //                 a: 320000
    //             }, {
    //                 y: '2012',
    //                 a: 480000
    //             }, {
    //                 y: '2013',
    //                 a: 620000
    //             }, {
    //                 y: '2014',
    //                 a: 720000
    //             }, {
    //                 y: '2015',
    //                 a: 875000
    //             }, {
    //                 y: '2016',
    //                 a: 1000000
    //             }],
    //        xkey: 'y',
    //        ykeys: ['a'],
    //        labels: ['CTC in Lac'],
    //        //hideHover: 'auto',
    //        resize: true
    //    });

    //});

</script>

