@model Vserv.Accounting.Web.Models.EmployeeModel
@{
    ViewBag.Title = "Edit Employee";
}
<div class="row" ng-controller="EmployeeController as vm" ng-init="initialize(@Model.EmployeeId)">
    <div class="col-md-12">
        <ul class="nav nav-tabs" id="tabs-manage-employee">
            <li class="active"><a href="#edit-employee" data-toggle="tab">Employee Profile</a></li>
            <li class=""><a href="#emp-salary-summary" data-toggle="tab" aria-expanded="false">Salary Summary</a></li>
            <li class=""><a href="#emp-salary-breakup" data-toggle="tab" aria-expanded="false">Salary Structure</a></li>
            <li class=""><a href="#emp-investment-declaration" data-toggle="tab" aria-expanded="false">Investment Declaration</a></li>
            <li class=""><a href="#emp-investment-verification" data-toggle="tab" aria-expanded="false">Investment Verification</a></li>
            <li class=""><a href="#emp-taxation" data-toggle="tab" aria-expanded="false">Taxation</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in padding-top10" id="edit-employee">
                @using (Html.BeginForm("edit", "employee"))
                {
                    //  @Html.HiddenFor(emp => emp.EmployeeId)
                    @Html.Partial("_EmployeePartial")
                }
            </div>
            <div class="tab-pane fade padding-top10" id="emp-salary-summary">
                @Html.Partial("_SalarySummary")
            </div>
            <div class="tab-pane fade padding-top10" id="emp-salary-breakup">
                @Html.Partial("_SalaryBreakup")
            </div>
            <div class="tab-pane fade padding-top10" id="emp-investment-declaration">
                <add-employee-investments vmodel="vm" isapprovermode="false"></add-employee-investments>
            </div>
            <div class="tab-pane fade padding-top10" id="emp-investment-verification">
                <add-employee-investments vmodel="vm" isapprovermode="true"></add-employee-investments>
            </div>
            <div class="tab-pane fade padding-top10" id="emp-taxation">
                <emp-taxation vmodel="vm"></emp-taxation>
            </div>
        </div>
    </div>
    <!-- /.col-md-12 -->
</div>
@Html.Action("DesignationWindow", "Designation")

