<!DOCTYPE html>
<html lang="en" ng-app="VservAccountingApp">
<head>
    @*<base href="/">*@
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Account Management System">
    <meta name="author" content="Vserv Business Solutions PVT LTD.">
    <title>@ViewBag.Title | Vserv Solutions</title>
    @Styles.Render("~/Styles/bootstrap")
    @Styles.Render("~/content/angular")
    @Styles.Render("~/content/Angular-nvD3")
    @Styles.Render("~/Content/toastr")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/DataTables")
    @Styles.Render("~/Content/base")
    
    <!-- jQuery -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/toastr")
    @Scripts.Render("~/Scripts/moment")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/scripts/app/angular")
    @Scripts.Render("~/scripts/Angular-nvD3")
    <script type="text/javascript">
        // singleton WorkCenter object
        window.VservApp = {};

        window.VservApp = new function () {
            var self = this;
            var rootPath = null;
        }
        VservApp.rootPath = '@Url.Content("~")';
    </script>
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            @Html.Action("Header", "Home")
            @Html.Action("Index", "Navbar")
        </nav>
        <div id="page-wrapper">
            @*<div class="row">
                <div class="col-lg-12 breadcrumb">
                    @Html.MvcSiteMap().SiteMapPath()
                </div>
            </div>*@
            @*<h3 class="page-header">@ViewBag.Title</h3>*@
            @RenderBody()
            @Scripts.Render("~/Scripts/base")
            @Scripts.Render("~/Scripts/app")
            <script src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
            @*@Scripts.Render("~/bundles/places")*@
            @Scripts.Render("~/bundles/geocomplete")
            @Scripts.Render("~/Scripts/DataTables")
            @Scripts.Render("~/bundles/jqueryval")
            @Scripts.Render("~/Scripts/views/employee")
            @Scripts.Render("~/Scripts/views/designation")

            @RenderSection("scripts", required: false)

        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
</body>
</html>