<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Account Management System">
    <meta name="author" content="Vserv Business Solutions PVT LTD.">
    <title>@ViewBag.Title | Vserv Solutions</title>
    @Styles.Render("~/Styles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/DataTables")
    @Styles.Render("~/Content/base")
    @Styles.Render("~/Content/base/font-awesome.min.css")

    <!-- jQuery -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/moment")
    @Scripts.Render("~/bundles/bootstrap")
</head>

<body>
    <div class="container">
        <div class="row" style="padding-top:20px;">
            <div class="col-md-4 col-md-offset-4 text-center">
                <a href="@Url.Action("index", "home")">  <img src="~/Images/vserv-logo.gif" height="80" alt="Vserv Solutions" /></a>
            </div>
        </div>
        @RenderBody()
    </div>

    @Scripts.Render("~/Scripts/base")
    @Scripts.Render("~/Scripts/app")
    @Scripts.Render("~/Scripts/DataTables")
    @RenderSection("scripts", required: false)
</body>
</html>