@model IEnumerable<Vserv.Accounting.Data.Entity.Feature>
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </li>
            @foreach (var item in Model)
                {
                    if (item.IsParent == false && item.ParentId == 0)
                    {
                <li><a href="@Url.Action(item.Action, item.Controller)"><i class="@item.ImageClass"></i> @item.NameOption</a></li>
                    }
                    else
                    {
                        if (item.IsParent == true)
                        {
                <li>
                    <a href="#"><i class="@item.ImageClass"></i> @item.NameOption<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        @foreach (var child in Model.Where(p => p.ParentId == item.FeatureId))
                                    {
                                        if (child.Controller == null)
                                        {
                                    <li><a href="#">@child.NameOption</a></li>
                                        }
                                        else
                                        {
                                    <li><a href="@Url.Action(child.Action, child.Controller)">@child.NameOption</a></li>
                                        }
                                    }
                    </ul>
                </li>
                        }
                    }
                }
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
